// =====================================
// Define colors
// =====================================
$colors : (
    primary-background: #282f33,
    secondary-background: #3f4448,
    primary: #2e836b,
    secondary: #376b9f,
    primary-text: #fff,
    secondary-text: #95989a,
    separator-color: #3b3f40,
    field-bg: #031523,
    received:  #376b9f,
    progress: #ffb257,
    withdraw-form: #a0c85f,
    lime: #ffb257
);

$icons: (
  font-family: 'pyramid',
  font-path: '../assets/fonts/pyramid/'
);

$base-font: (
  font-family: 'HelveticaNeue',
  font-path: '../assets/fonts/helvetica/'
);