.settings-form {

  .form-field {
    height: auto;
    padding: 6px 12px;
    border-width: 2px;
  }

  .settings-buttons {
    button {
      min-width: 120px;
    }
  }
  .drop-down-dark, .drop-down-dark.rw-state-focus {
    .rw-widget-container {
      background: #5a5b5a;
      border: none;
      color: map_get($colors, primary-text);
      .rw-i, .rw-input {
        color: map_get($colors, primary-text);
      }
      .rw-btn-select {
        opacity: 1;
      }
    }
    .rw-popup-container {
      right: -5px !important;
    }
    &.rw-widget>.rw-widget-container,
    &.rw-widget>.rw-widget-container:hover,
    &.rw-widget>.rw-widget-container:focus,
    .rw-popup, .rw-popup:hover {
      background: #5a5b5a;
      border: none;
      box-shadow: none;
    }
  }

  .rw-list-option.rw-state-focus.rw-state-selected {
    background: #e6e6e6;
    color: #333;
  }

  .currency-drop-down {
    .drop-down-dark {
      .rw-input, .rw-list-option {
        text-transform: uppercase;
      }
    }

  }

  .button-dark, .button-calm {
    border-radius: 14px;
    padding: 10px 12px;
  }

  .button-calm {
    background: #333333;
    border: 2px solid #595959;
    color: #787d80;
    transition: all .3s ease-in-out;
    box-shadow:none;
    &:hover, &:active {
      background: #417c65;
      border: 2px solid #6eebb6;
      color: map_get($colors, primary-text);
    }
  }


  //.button-dark {
  //  background: #333333;
  //  border: 2px solid #595959;
  //  color: #787d80;
  //}
  //
  //.button-calm, .button-calm:hover {
  //  background: #417c65;
  //  border: 2px solid #6eebb6;
  //}
}