.trade-pwd-modal {
  .modal-header {
    border: none;
  }

  .field-underlined {
    .form-control {
      font-size: 1.2rem;
    }
  }
  button.close, button.close:hover, button.close:active {
    color: map_get($colors, primary-text);
    opacity:1;
    text-shadow: none;
  }

  button.submit-btn {
    border: 2px solid map_get($colors, secondary);
    background: darken(map_get($colors, secondary), 20%);
    color: map_get($colors, primary-text);
  }
  .modal-content {
    background: map_get($colors, secondary-background);
  }
}