.wallet {
  p, h2 {
    margin: 0;
  }
  li {
    margin-bottom: 20px;
  }
  .btn-link {
    color: map_get($colors, primary-text);
    &:hover, &:focus {
      //color: map_get($colors, primary-text);
      text-decoration: none;
    }
  }
}