.page-notifications {
  .nav {
    background: map_get($colors, secondary-background);
    border-radius: 5px;
    .nav-item {
      .btn {
        text-decoration: none;
        color: map_get($colors, secondary-text);
        &.active {
          color: map_get($colors, primary-text);
        }
      }
    }
    //a {
    //  color: map_get($colors, secondary-text);
    //  &.active {
    //    color: map_get($colors, primary-text);
    //  }
    //}
  }

  td:nth-child(1) {
    vertical-align: top;
    padding-right: 50px;
  }
}