.exchange-list {
  margin: 0;
  padding: 0;
}

.exchange-list-item {
  margin-right: 20px;
  background: map_get($colors, secondary-background);
  border-radius: 10px;
  background-repeat: no-repeat;
  background-position: top right;
  background-size: 60% auto;
  width: 33.33%;
  padding: 8px;
  img {
    width: 50px;
    margin-right: 16px;
  }
  p {margin: 0;word-break: break-all;}
}