html, body, #app, .full-height, .root-container {
  height: 100%;
  overflow: hidden;
}

.has-separator {
  border-bottom: 1px solid map_get($colors, separator-color);
}

.margin-bottom-10 {
  margin-bottom: 10px;
}

.no-margin {
  margin: 0;
}

.margin-bottom-16 {
  margin-bottom: 16px;
}

.margin-right-4 {
  margin-right: 4px;
}

section {
  & > h2 {
    padding: 20px 0 16px;
    font-size: 1.4rem;
  }
}

.flex-1 {
  flex: 1;
}

.table, .table td, .table th {
  border: none;
}

:focus {
  outline: none;
}

button:focus {
  outline: none;
}

.history-table {
  table-layout: fixed;
}