.btn.form-button, .form-button {
  background: map_get($colors, primary);
  border: 2px solid darken(map_get($colors, primary), 10%);
  text-align: center;
  padding: 10px 60px;
  border-radius: 10px;
  display: inline-block;
}

.btn.form-link, .form-link {
  background: transparent;
  text-decoration: underline;
  color: map_get($colors, primary-text);
  &.form-link-small {
    font-size: .7rem;
  }
}