.react-tabs {
  .react-tabs__tab-list {
    display: flex;
    justify-content: space-around;
    list-style: none;
    padding: 0;
    margin: 0;

    .react-tabs__tab {
      color: map_get($colors, secondary-text);
      &.react-tabs__tab--selected {
        color: map_get($colors, primary-text);
        position: relative;
        &::before {
          content: '';
          position: absolute;
          width: 100%;
          height: 2px;
          top: -5px;
          background: white;
          border-radius: 10px;
        }
      }
    }

  }
}