.main-menu {
  background: map_get($colors, secondary-background);
  width: 200px;
  height: 100%;
  overflow-y: auto;
}

.main-menu-item {
  display: block;
  color: map_get($colors, secondary-text);
  padding: 10px 10px 10px 50px;
  text-transform: capitalize;
  &.active, &:hover {
    text-decoration: none;
    color: map_get($colors, primary-text);
    transition: all 0.2s ease-in-out;
  }
  &.active {
    background: map_get($colors, primary-background);
    color: map_get($colors, primary-text);
  }

  &:hover {
    //background: darken(map_get($colors, secondary-background), 3%);
  }

  .icon {
    font-size: 1.4rem;
  }
}

.main-menu-header {
  .app-logo {
    margin-bottom: 6px;
  }
  p {
    margin: 0;
  }
  padding: 30px 16px;
}

.main-menu-links {

}